
<title>Device Management</title>





	
	<div class="row" style="height: 100%;">
	 	<div class="col-3 p-3" style="background-color: #C1272D;">
	 		<div class="media">
			  <i class="fas fa-user-circle fa-5x ml-1 text-white"></i>
			  <div class="media-body ml-1">
			    <h5 class="mt-0 text-white">CLIENT</h5>
			  </div>
			</div>
			<div class="container container-icon-admin d-flex justify-content-between mt-4">
	       		<button onclick="goBack()" type="button" class="btn" title="Indietro">
						<i class="fas fa-arrow-left fa-2x text-white"></i>
				</button>
	       		<a href="/Client/viewNewDevice" title="Inserisci New Device">
	       			<i class="fas fa-plus-circle fa-2x text-white"></i>
	       		</a>       
	       		<a href="/Client/logout" title="Logout">
	       			<i class="fas fa-sign-out-alt fa-2x text-white"></i>
	       		</a>		
			</div>
	 	</div>
       	<div class="col-9 p-3">
       		<div class="d-flex">
       			<div class="hamburger-round mr-1 mb-1"></div>
       			<div class="hamburger-round mr-1 mb-1"></div>
       			<div class="hamburger-round mr-1 mb-1"></div>
       		</div>
			<div class="d-flex">
				<div class="hamburger-round mr-1 mb-1"></div>
       			<div class="hamburger-round mr-1 mb-1"></div>
       			<div class="hamburger-round mr-1 mb-1"></div>
			</div>
			<div class="d-flex">
				<div class="hamburger-round mr-1 mb-1"></div>
       			<div class="hamburger-round mr-1 mb-1"></div>
       			<div class="hamburger-round mr-1 mb-1"></div>
			</div>
			<div style="width: 95%;" class="mt-5"> 
	           	<table class="table table-striped">
					<tr>
						<th>Iddevice</th>
						<th>Idclient</th>
						<th>Mac</th>
						<th>Devtype</th>
						<th>Position</th>
						<th></th>
						<th></th>
					</tr>
        
					 	<tr *ngFor= "let d of devices">
					 		<td>{{d.iddevice}}</td>
					 		<td>{{d.client.idclient}}</td>
					 		<td>{{d.mac}}</td>
               <td>{{d.devtype}}</td>
               <td>{{d.position}}</td>
             </tr>
					
            </table>
			</div>
    </div>
	
    
	
