<div class="py-4">
  <div class="d-flex">
      <div class="hamburger-round mr-1 mb-1"></div>
      <div class="hamburger-round mr-1 mb-1"></div>
      <div class="hamburger-round mr-1 mb-1"></div>
    </div>
  <div class="d-flex">
  <div class="hamburger-round mr-1 mb-1"></div>
      <div class="hamburger-round mr-1 mb-1"></div>
      <div class="hamburger-round mr-1 mb-1"></div>
  </div>
  <div class="d-flex">
  <div class="hamburger-round mr-1 mb-1"></div>
      <div class="hamburger-round mr-1 mb-1"></div>
      <div class="hamburger-round mr-1 mb-1"></div>
  </div>

  <div class="d-flex justify-content-end">
      <button type="button" class="btn mr-3" data-toggle="modal" data-target="#modal-insert">
          <i class="fas fa-plus fa-2x"></i>
      </button>
  </div>
  <!-- Modal Insert -->
  <div class="modal fade" id="modal-insert" tabindex="-1" role="dialog" aria-labelledby="ModalInsertLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="ModalInsertLabel">Inserisci Nuovo <span class="font-weight-bold text-uppercase">User</span></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="table">
              <thead></thead>
              <tbody>
                <tr>
                    <th scope="row">Username</th>
                    <td><input type="text" placeholder="username" [(ngModel)]="usertoinsert.username"></td>
                </tr>
                <tr>
                    <th scope="row">Password</th>
                    <td><input type="text" placeholder="password" [(ngModel)]="usertoinsert.password"></td>
                </tr>
                <tr>
                    <th scope="row">Usertype</th>
                    <td>
                      <select [(ngModel)]="usertoinsert.usertype">
                        <option value="ADMIN">ADMIN</option>
                        <option value="MODERATOR">MODERATOR</option>
                      </select>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Barcode</th>
                    <td><input type="number" min="1" placeholder="barcode" [(ngModel)]="usertoinsert.barcode"></td>
                </tr>
                <tr>
                    <th scope="row">Scode</th>
                    <td><input type="text" placeholder="scode" [(ngModel)]="usertoinsert.scode"></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="clear()">Annulla</button>
            <button type="button" class="btn btn-success" data-dismiss="modal" (click)="insert(usertoinsert)">Inserisci</button>
          </div>
        </div>
      </div>
    </div>

  <div class="table-responsive">
    <table class="table table-striped mt-5">
      <thead>
        <tr>
          <th scope="col">Username</th>
          <th scope="col">Password</th>
          <th scope="col">Usertype</th>
          <th scope="col">Barcode</th>
          <th scope="col">Scode</th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>
            {{ user.username }}
          </td>
          <td>
            {{ user.password }}
          </td>
          <td>
            {{ user.usertype }}
          </td>
          <td>
            {{ user.barcode }}
          </td>
          <td>
            {{ user.scode }}
          </td>
          <td>
            <button type="button" class="btn" data-toggle="modal" attr.data-target="#modal-read-{{ user.id }}" (click)="read(user)">
              <i class="fas fa-eye text-secondary"></i>
            </button>
          </td>
          <td>
            <button type="button" class="btn" data-toggle="modal" attr.data-target="#modal-update-{{ user.id }}" (click)="read(user)">
              <i class="fas fa-edit"></i>
            </button>
          </td>
          <td>
            <button type="button" class="btn" (click)="delete(user)">
                <i class="fas fa-trash-alt"></i>
            </button>
          </td>

          <!-- Modal Read -->
          <div class="modal fade" id="modal-read-{{ user.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Riepilogo <span class="font-weight-bold text-uppercase">{{ user.username }}</span></h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <table class="table">
                    <thead></thead>
                    <tbody>
                      <tr>
                          <th scope="row">Username</th>
                          <td>{{ user.username }}</td>
                      </tr>
                      <tr>
                          <th scope="row">Password</th>
                          <td>{{ user.password }}</td>
                      </tr>
                      <tr>
                          <th scope="row">Usertype</th>
                          <td>{{ user.usertype }}</td>
                      </tr>
                      <tr>
                          <th scope="row">Barcode</th>
                          <td>{{ user.barcode }}</td>
                      </tr>
                      <tr>
                          <th scope="row">Scode</th>
                          <td>{{ user.scode }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
                </div>
              </div>
            </div>
          </div>

          <!-- Modal Update -->
          <div class="modal fade" id="modal-update-{{ user.id }}" tabindex="-1" role="dialog" aria-labelledby="ModalUpdateLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="ModalUpdateLabel">Modifica <span class="font-weight-bold text-uppercase">{{ user.username }}</span></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <table class="table">
                      <thead></thead>
                      <tbody>
                        <tr>
                            <th scope="row">Username</th>
                            <td><input [(ngModel)]="user.username"></td>
                        </tr>
                        <tr>
                            <th scope="row">Password</th>
                            <td><input [(ngModel)]="user.password"></td>
                        </tr>
                        <tr>
                            <th scope="row">Usertype</th>
                            <td>
                              <select [(ngModel)]="user.usertype">
                                <option [selected]="user.usertype===ADMIN" value="ADMIN">ADMIN</option>
                                <option [selected]="user.usertype===MODERATOR" value="MODERATOR">MODERATOR</option>
                              </select>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Barcode</th>
                            <td>
                              <input [(ngModel)]="user.barcode">
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Scode</th>
                            <td>
                              <input [(ngModel)]="user.scode">
                            </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
                    <button type="button" class="btn btn-success" data-dismiss="modal" (click)=update(user)>Modifica</button>
                  </div>
                </div>
              </div>
            </div>

        </tr>
      </tbody>
    </table>
  </div> 
</div>







