<div class="container-fluid">
  <img src="/assets/img/logo.svg">
  
  <div class="container-form">
  <h1 class="h3 mb-3 font-weight-normal text-white">Register New User</h1>
    
  
    <input class="form-control mb-2" name="username" required autofocus [(ngModel)]="usertoinsert.username"> 
    
    <button (click)=insert(usertoinsert)>Registrati</button>
    <!--<input type="submit" value="Registrati">-->
  

  
  </div>
  <div class="title-promo">
     <h1 class="text-promo">PROMO</h1>
  </div>

  
</div>




