<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="screen">
            <h2><span jhiTranslate="gatewayApp.micro1Screen.detail.title">Screen</span> {{screen.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.micro1Screen.output">Output</span></dt>
                <dd>
                    <span>{{screen.output}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.micro1Screen.position">Position</span></dt>
                <dd>
                    <span>{{screen.position}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/screen', screen.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
