div.container-fluid {
    background: url('/assets/img/sfondo_template_2.jpg');
    height: 100vh;
    position: relative;
}

img  {  
    width: 500px;
    position: absolute;
    top: 50px;
    left: 357px;
 }

 .container-login { 
    position: relative;
    width:500px;
    top: 140px;
    left:350px;
    
    /* border: 3px solid lime; */

}

.text1 {
    margin-bottom: 240px;  
    margin-left: 318px;
}

.text2 {    
    margin-left: 57px;
}

div.text1 h1 , div.text2 h1  {
    font-size: 40px;
    font-weight: bold;
}

div.title-promo {
    position: absolute;
    top:510px;
    left: 1040px;
}

div.title-promo h1 {
    font-size: 80px;    
}

.text-promo {
    color: #c1272d;
}

.container-form {
	width: 19%;
}

.container-form input[type=text], .container-form input[type=number] {
  border: none;
  border-bottom: 2px solid #C1272D;
} 

.container-form .form-control, .container-form .form-control:focus {
	background-color: transparent;
	color: red;
}

.form-control:focus {
	outline-style: solid;
	box-shadow:none;
	border-bottom: 2px solid white !important;
}
